# 06-02

- Transition Matrix only
- Euclidean Distance

In [4]:
import pandas as pd
from sklearn.cluster import KMeans
import seaborn as sns
from matplotlib import pyplot as plt 
import math
from ipynb.fs.full.Utils import createKDeplot, loadDataFrames, loadCoverGroups
import numpy as np
from sklearn.preprocessing import StandardScaler

from ipynb.fs.full.SearchInfo import searchByID, searchBySpotify, getTrackSpotifyInfo
from ipynb.fs.full.Utils import append_df_to_csv,transformToPercentage

In [5]:
cover = loadCoverGroups()
listCovers = cover[0]
originalSongId = listCovers[0]
coverSongId = listCovers[1]

In [6]:
cover

[[180849,
  6001027,
  1686718,
  5000013,
  5000001,
  5000007,
  5000008,
  5000023,
  5000017,
  5000019,
  5000020,
  5000018,
  5000011,
  5000012],
 [6001971, 6001984],
 [6002492, 6002491],
 [6000699, 6001165, 6000182],
 [6000104, 6000273],
 [6000768, 6000784],
 [6001931, 6001748],
 [6002043, 6002073],
 [6002244, 6000194],
 [6001209, 6000606],
 [6000352, 6001248],
 [6000549, 6001508, 6001242],
 [6001918, 6001997],
 [6001651, 6001900],
 [6000263, 6001570, 6002374],
 [6001822, 6001653],
 [6000763, 6000668],
 [6000764, 6000667],
 [6001543, 6001541],
 [6000762, 6000773],
 [6000771, 6000670],
 [6001747, 6001952],
 [6000548, 6002203],
 [6000172, 6002133],
 [6001762, 6001675],
 [6002147, 6002146],
 [6000767, 6000775],
 [6000766, 6000673],
 [6001506, 6000529],
 [6000397, 6000409],
 [6001914, 6002001],
 [6002482, 6002454],
 [6000765, 6000783],
 [6000761, 6000782],
 [6000814, 6000813],
 [6001224, 6000140]]

In [7]:
spotifyFeatures, transitionMatrices, df = loadDataFrames()

In [8]:
transitionMatrices

,0,1,2,3,4,5,6,7,8,9,...,1284,1286,1287,1288,1290,1291,1292,1293,1294,1295
id,,,,,,,,,,,,,,,,,,,,,
23,0.000000,0.000000,0.0,0.000000,0.0,0.000000,0.000000,0.000000,0.0,0.0,...,0.0,0.0,0.0,0.00000,0.0,0.0,0.0,0.00000,0.0,0.0
105,0.185185,0.000000,0.0,0.000000,0.0,0.000000,0.000000,0.000000,0.0,0.0,...,0.0,0.0,0.0,0.00000,0.0,0.0,0.0,0.00000,0.0,0.0
118,0.000000,0.000000,0.0,0.000000,0.0,0.000000,0.044944,0.000000,0.0,0.0,...,0.0,0.0,0.0,0.00000,0.0,0.0,0.0,0.00000,0.0,0.0
120,0.029412,0.000000,0.0,0.000000,0.0,0.000000,0.000000,0.000000,0.0,0.0,...,0.0,0.0,0.0,0.00000,0.0,0.0,0.0,0.00000,0.0,0.0
292,0.013889,0.000000,0.0,0.000000,0.0,0.000000,0.000000,0.013889,0.0,0.0,...,0.0,0.0,0.0,0.00000,0.0,0.0,0.0,0.00000,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6002496,0.000000,0.000000,0.0,0.000000,0.0,0.000000,0.000000,0.000000,0.0,0.0,...,0.0,0.0,0.0,0.00000,0.0,0.0,0.0,0.00000,0.0,0.0
6002497,0.000000,0.000000,0.0,0.000000,0.0,0.000000,0.000000,0.000000,0.0,0.0,...,0.0,0.0,0.0,0.00000,0.0,0.0,0.0,0.00000,0.0,0.0
6002498,0.000000,0.015385,0.0,0.015385,0.0,0.015385,0.030769,0.000000,0.0,0.0,...,0.0,0.0,0.0,0.00000,0.0,0.0,0.0,0.00000,0.0,0.0
6002499,0.000000,0.000000,0.0,0.000000,0.0,0.000000,0.071429,0.000000,0.0,0.0,...,0.0,0.0,0.0,0.02381,0.0,0.0,0.0,0.02381,0.0,0.0
6002500,0.000000,0.000000,0.0,0.000000,0.0,0.000000,0.000000,0.000000,0.0,0.0,...,0.0,0.0,0.0,0.00000,0.0,0.0,0.0,0.00000,0.0,0.0

In [9]:
transitionMatrices.sum(axis = 1).sum(axis=0)

5979.999999999996

## Applying eucledian distance

In [10]:
def euclidean_distance(x, y):   
    return np.sqrt(np.sum((x - y) ** 2))

In [11]:
originalSongVector = transitionMatrices.loc[[originalSongId]].iloc[0]

***Dropping the cover song***

In [12]:
ranking = []
for index in range(0, len(transitionMatrices)):
    ranking.append([transitionMatrices.index[index], euclidean_distance(transitionMatrices.iloc[index, :], originalSongVector)])

In [13]:
ranksDF = pd.DataFrame(ranking)

In [14]:
ranksDF = ranksDF.rename(columns={0: "id", 1: "rank"})

In [15]:
ranksDF

           id      rank
0          23  0.460357
1         105  0.386437
2         118  0.476548
3         120  0.547385
4         292  0.416708
...       ...       ...
5975  6002496  0.381281
5976  6002497  0.532379
5977  6002498  0.422343
5978  6002499  0.431668
5979  6002500  0.423120

[5980 rows x 2 columns]

In [16]:
ranksDF = ranksDF.sort_values(by="rank")

In [17]:
ranksDF.reset_index(drop=True, inplace=True)

In [18]:
ranksDF.head(10)

        id      rank
0   180849  0.000000
1  2846348  0.158068
2  1186397  0.176593
3  1148352  0.177127
4  1168573  0.185495
5  1909308  0.197408
6  2065851  0.198064
7   532785  0.200606
8  1106926  0.207606
9    41961  0.208309

In [19]:
ranksDF[ranksDF['id']==coverSongId]

          id      rank
161  6001027  0.308294

## Rank for original Song 156

In [20]:
ranksDF.loc[ranksDF.id.isin(listCovers)]

           id      rank
0      180849  0.000000
28    5000007  0.238091
51    5000019  0.263030
56    5000018  0.267234
138   5000020  0.301116
161   6001027  0.308294
173   5000008  0.310970
189   1686718  0.314095
260   5000011  0.325204
271   5000012  0.326780
281   5000017  0.327370
304   5000013  0.330925
437   5000001  0.345503
2888  5000023  0.440763

In [21]:
# To extract covers info change path in util if needed
ranks = transformToPercentage(ranksDF.loc[ranksDF.id.isin(listCovers)], '0200')
ranks

,id_chord,id_spotify_track,name,release_date,percentage,rank,position,id_experiment
0,180849,3jButwtJMLx3Ub61BfRiHh,the scientist,2022-06-03,100.000,0.000000,0,0200
1,5000007,6TyaYGQKCnRLVTOQlXvYAA,NaN,NaN,99.762,0.238091,28,0200
2,5000019,49ilSrZNQcle6PYw8rtvzM,NaN,NaN,99.737,0.263030,51,0200
3,5000018,49Nzxf1LskunwmZ6EyWUew,NaN,NaN,99.733,0.267234,56,0200
4,5000020,66Z3LdLjtwfIdHFF0wZa5B,NaN,NaN,99.699,0.301116,138,0200
5,6001027,75JFxkI2RXiU7L9VXzMkle,NaN,NaN,99.692,0.308294,161,0200
6,5000008,68iMdxXn1timrxURm9dR8C,NaN,NaN,99.689,0.310970,173,0200
7,1686718,2LbHYfTYW6TipHInIjqdaQ,the scientist,2015-04-28,99.686,0.314095,189,0200
8,5000011,5FoM2ZWwhgTxHFFh2stUw6,NaN,NaN,99.675,0.325204,260,0200
9,5000012,7tn1tcxenMwDXrYTOjS3z1,NaN,NaN,99.673,0.326780,271,0200
10,5000017,34dnNAUoIPcwnK0RtVMBWZ,NaN,NaN,99.673,0.327370,281,0200
11,5000013,2LbHYfTYW6TipHInIjqdaQ,NaN,NaN,99.669,0.330925,304,0200
12,5000001,025vpSSyndhVZezl8rUF6L,NaN,NaN,99.654,0.345503,437,0200
13,5000023,6f46TyGZm5oeKIP54PLvql,NaN,NaN,99.559,0.440763,2888,0200