# 06-05

- Continous Features
- Transition Matrices
- Euclidean Distance
- Box Cox
- Centering and Scaling

In [31]:
import pandas as pd
from sklearn.cluster import KMeans
import seaborn as sns
from matplotlib import pyplot as plt 
import math
from ipynb.fs.full.Utils import createKDeplot, loadDataFrames, loadCoverGroups
import numpy as np
from sklearn.preprocessing import StandardScaler
from scipy import stats

from ipynb.fs.full.SearchInfo import searchByID, searchBySpotify, getTrackSpotifyInfo
from ipynb.fs.full.Utils import append_df_to_csv,transformToPercentage

In [32]:
cover = loadCoverGroups()
listCovers = cover[0]
originalSongId = listCovers[0]
coverSongId = listCovers[1]

In [33]:
cover

[[180849,
  6001027,
  1686718,
  5000013,
  5000001,
  5000007,
  5000008,
  5000023,
  5000017,
  5000019,
  5000020,
  5000018,
  5000011,
  5000012],
 [6001971, 6001984],
 [6002492, 6002491],
 [6000699, 6001165, 6000182],
 [6000104, 6000273],
 [6000768, 6000784],
 [6001931, 6001748],
 [6002043, 6002073],
 [6002244, 6000194],
 [6001209, 6000606],
 [6000352, 6001248],
 [6000549, 6001508, 6001242],
 [6001918, 6001997],
 [6001651, 6001900],
 [6000263, 6001570, 6002374],
 [6001822, 6001653],
 [6000763, 6000668],
 [6000764, 6000667],
 [6001543, 6001541],
 [6000762, 6000773],
 [6000771, 6000670],
 [6001747, 6001952],
 [6000548, 6002203],
 [6000172, 6002133],
 [6001762, 6001675],
 [6002147, 6002146],
 [6000767, 6000775],
 [6000766, 6000673],
 [6001506, 6000529],
 [6000397, 6000409],
 [6001914, 6002001],
 [6002482, 6002454],
 [6000765, 6000783],
 [6000761, 6000782],
 [6000814, 6000813],
 [6001224, 6000140]]

In [4]:
originalSongId

180849

In [5]:
continousFeatures = pd.read_csv('./data/unified/05-continousFeatures.csv')
continousFeatures = continousFeatures.sort_values('id')
continousFeatures.id = continousFeatures.id.astype('int64')
continousFeatures = continousFeatures.set_index('id')

In [6]:
continousFeatures = continousFeatures.iloc[:,1:]
continousFeatures

,danceability,energy,speechiness,acousticness,liveness,valence,tempo
id,,,,,,,
23,0.494,0.756,0.0432,0.001400,0.1640,0.589,133.337
105,0.582,0.744,0.0336,0.000458,0.0405,0.674,133.344
118,0.614,0.755,0.0276,0.016200,0.0831,0.645,92.622
120,0.319,0.807,0.0388,0.001040,0.1310,0.601,118.097
292,0.496,0.527,0.0339,0.195000,0.1380,0.283,155.932
...,...,...,...,...,...,...,...
6002496,0.509,0.537,0.0384,0.347000,0.0805,0.311,170.030
6002497,0.725,0.583,0.0427,0.300000,0.0665,0.762,79.984
6002498,0.399,0.787,0.0499,0.019700,0.0685,0.572,117.089
6002499,0.376,0.435,0.0264,0.513000,0.1380,0.304,80.002
6002500,0.734,0.663,0.3090,0.342000,0.6490,0.845,166.846

In [7]:
transitionMatrices = pd.read_csv('./data/unified/transitionMatrices.csv')
transitionMatrices = transitionMatrices.iloc[:, 1:]
transitionMatrices = transitionMatrices.sort_values('id')
transitionMatrices.id = transitionMatrices.id.astype('int64')
transitionMatrices = transitionMatrices.set_index('id')

In [8]:
transitionMatrices

,0,1,2,3,4,5,6,7,8,9,...,1284,1286,1287,1288,1290,1291,1292,1293,1294,1295
id,,,,,,,,,,,,,,,,,,,,,
23,0.000000,0.000000,0.0,0.000000,0.0,0.000000,0.000000,0.000000,0.0,0.0,...,0.0,0.0,0.0,0.00000,0.0,0.0,0.0,0.00000,0.0,0.0
105,0.185185,0.000000,0.0,0.000000,0.0,0.000000,0.000000,0.000000,0.0,0.0,...,0.0,0.0,0.0,0.00000,0.0,0.0,0.0,0.00000,0.0,0.0
118,0.000000,0.000000,0.0,0.000000,0.0,0.000000,0.044944,0.000000,0.0,0.0,...,0.0,0.0,0.0,0.00000,0.0,0.0,0.0,0.00000,0.0,0.0
120,0.029412,0.000000,0.0,0.000000,0.0,0.000000,0.000000,0.000000,0.0,0.0,...,0.0,0.0,0.0,0.00000,0.0,0.0,0.0,0.00000,0.0,0.0
292,0.013889,0.000000,0.0,0.000000,0.0,0.000000,0.000000,0.013889,0.0,0.0,...,0.0,0.0,0.0,0.00000,0.0,0.0,0.0,0.00000,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6002496,0.000000,0.000000,0.0,0.000000,0.0,0.000000,0.000000,0.000000,0.0,0.0,...,0.0,0.0,0.0,0.00000,0.0,0.0,0.0,0.00000,0.0,0.0
6002497,0.000000,0.000000,0.0,0.000000,0.0,0.000000,0.000000,0.000000,0.0,0.0,...,0.0,0.0,0.0,0.00000,0.0,0.0,0.0,0.00000,0.0,0.0
6002498,0.000000,0.015385,0.0,0.015385,0.0,0.015385,0.030769,0.000000,0.0,0.0,...,0.0,0.0,0.0,0.00000,0.0,0.0,0.0,0.00000,0.0,0.0
6002499,0.000000,0.000000,0.0,0.000000,0.0,0.000000,0.071429,0.000000,0.0,0.0,...,0.0,0.0,0.0,0.02381,0.0,0.0,0.0,0.02381,0.0,0.0
6002500,0.000000,0.000000,0.0,0.000000,0.0,0.000000,0.000000,0.000000,0.0,0.0,...,0.0,0.0,0.0,0.00000,0.0,0.0,0.0,0.00000,0.0,0.0

In [9]:
df = transitionMatrices.merge(continousFeatures, left_index=True, right_index=True)
df

,0,1,2,3,4,5,6,7,8,9,...,1293,1294,1295,danceability,energy,speechiness,acousticness,liveness,valence,tempo
id,,,,,,,,,,,,,,,,,,,,,
23,0.000000,0.000000,0.0,0.000000,0.0,0.000000,0.000000,0.000000,0.0,0.0,...,0.00000,0.0,0.0,0.494,0.756,0.0432,0.001400,0.1640,0.589,133.337
105,0.185185,0.000000,0.0,0.000000,0.0,0.000000,0.000000,0.000000,0.0,0.0,...,0.00000,0.0,0.0,0.582,0.744,0.0336,0.000458,0.0405,0.674,133.344
118,0.000000,0.000000,0.0,0.000000,0.0,0.000000,0.044944,0.000000,0.0,0.0,...,0.00000,0.0,0.0,0.614,0.755,0.0276,0.016200,0.0831,0.645,92.622
120,0.029412,0.000000,0.0,0.000000,0.0,0.000000,0.000000,0.000000,0.0,0.0,...,0.00000,0.0,0.0,0.319,0.807,0.0388,0.001040,0.1310,0.601,118.097
292,0.013889,0.000000,0.0,0.000000,0.0,0.000000,0.000000,0.013889,0.0,0.0,...,0.00000,0.0,0.0,0.496,0.527,0.0339,0.195000,0.1380,0.283,155.932
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6002496,0.000000,0.000000,0.0,0.000000,0.0,0.000000,0.000000,0.000000,0.0,0.0,...,0.00000,0.0,0.0,0.509,0.537,0.0384,0.347000,0.0805,0.311,170.030
6002497,0.000000,0.000000,0.0,0.000000,0.0,0.000000,0.000000,0.000000,0.0,0.0,...,0.00000,0.0,0.0,0.725,0.583,0.0427,0.300000,0.0665,0.762,79.984
6002498,0.000000,0.015385,0.0,0.015385,0.0,0.015385,0.030769,0.000000,0.0,0.0,...,0.00000,0.0,0.0,0.399,0.787,0.0499,0.019700,0.0685,0.572,117.089
6002499,0.000000,0.000000,0.0,0.000000,0.0,0.000000,0.071429,0.000000,0.0,0.0,...,0.02381,0.0,0.0,0.376,0.435,0.0264,0.513000,0.1380,0.304,80.002
6002500,0.000000,0.000000,0.0,0.000000,0.0,0.000000,0.000000,0.000000,0.0,0.0,...,0.00000,0.0,0.0,0.734,0.663,0.3090,0.342000,0.6490,0.845,166.846

In [10]:
df['id'] = df.index

In [11]:
df[df.id == originalSongId]

,0,1,2,3,4,5,6,7,8,9,...,1294,1295,danceability,energy,speechiness,acousticness,liveness,valence,tempo,id
id,,,,,,,,,,,,,,,,,,,,,
180849,0.222222,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.557,0.442,0.0243,0.731,0.11,0.213,146.277,180849

In [12]:
df.reset_index(drop=True, inplace=True)

In [13]:
ids = df.id
df = df.iloc[:, 0:-1]

## Removing Skewness with boxcox

In [14]:
df = df.loc[:,(df!=df.iloc[0]).any()]
df = df + 1
cols = df.columns.tolist()

In [15]:
for colName in cols:
    df[colName] = stats.boxcox(df[colName])[0]

In [16]:
df

,0,1,2,3,4,5,6,7,8,9,...,1293,1294,1295,danceability,energy,speechiness,acousticness,liveness,valence,tempo
0,0.000000,0.000000,0.0,0.000000,0.0,0.000000,0.000000,0.000000,0.0,0.0,...,0.000000,0.0,0.0,0.589646,1.072654,0.025164,0.001397,0.092258,0.491650,6.959556
1,0.029123,0.000000,0.0,0.000000,0.0,0.000000,0.000000,0.000000,0.0,0.0,...,0.000000,0.0,0.0,0.714167,1.050602,0.021827,0.000458,0.034521,0.550707,6.959658
2,0.000000,0.000000,0.0,0.000000,0.0,0.000000,0.008544,0.000000,0.0,0.0,...,0.000000,0.0,0.0,0.760868,1.070810,0.019253,0.015851,0.060681,0.530814,6.274412
3,0.018382,0.000000,0.0,0.000000,0.0,0.000000,0.000000,0.000000,0.0,0.0,...,0.000000,0.0,0.0,0.359258,1.168214,0.023742,0.001039,0.081575,0.500127,6.727337
4,0.010994,0.000000,0.0,0.000000,0.0,0.000000,0.000000,0.002241,0.0,0.0,...,0.000000,0.0,0.0,0.592412,0.680083,0.021945,0.153508,0.084057,0.257315,7.265032
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5972,0.000000,0.000000,0.0,0.000000,0.0,0.000000,0.000000,0.000000,0.0,0.0,...,0.000000,0.0,0.0,0.610465,0.695985,0.023604,0.233258,0.059318,0.280389,7.436861
5973,0.000000,0.000000,0.0,0.000000,0.0,0.000000,0.000000,0.000000,0.0,0.0,...,0.000000,0.0,0.0,0.928676,0.770589,0.025011,0.211285,0.051497,0.609542,6.008564
5974,0.000000,0.000728,0.0,0.000162,0.0,0.002547,0.008342,0.000000,0.0,0.0,...,0.000000,0.0,0.0,0.461709,1.130385,0.027031,0.019186,0.052666,0.479557,6.711088
5975,0.000000,0.000000,0.0,0.000000,0.0,0.000000,0.008593,0.000000,0.0,0.0,...,0.000031,0.0,0.0,0.431756,0.539072,0.018685,0.296480,0.084057,0.274655,6.008968
5976,0.000000,0.000000,0.0,0.000000,0.0,0.000000,0.000000,0.000000,0.0,0.0,...,0.000000,0.0,0.0,0.942675,0.906042,0.036854,0.231019,0.134828,0.663063,7.399154

## Combining Centering and Scaling

In [17]:
cols = df.columns
scaler = StandardScaler()
scaler.fit(df)
data_normalized = scaler.transform(df)
print('mean: ', data_normalized.mean(axis=0).round(2))
print('std: ', data_normalized.std(axis=0).round(2))

df = pd.DataFrame(data_normalized, columns=cols)

mean:  [ 0.  0. -0. ... -0. -0.  0.]
std:  [1. 1. 1. ... 1. 1. 1.]

In [18]:
df

,0,1,2,3,4,5,6,7,8,9,...,1293,1294,1295,danceability,energy,speechiness,acousticness,liveness,valence,tempo
0,-0.647576,-0.155982,-0.060781,-0.079990,-0.060781,-0.259855,-0.399403,-0.251577,-0.048454,-0.093682,...,-0.040938,-0.012936,-0.048454,-0.460175,0.667069,-0.057472,-1.257974,0.279223,0.477051,0.520987
1,2.130106,-0.155982,-0.060781,-0.079990,-0.060781,-0.259855,-0.399403,-0.251577,-0.048454,-0.093682,...,-0.040938,-0.012936,-0.048454,0.092680,0.607863,-0.676758,-1.264696,-1.932404,0.803252,0.521204
2,-0.647576,-0.155982,-0.060781,-0.079990,-0.060781,-0.259855,2.730576,-0.251577,-0.048454,-0.093682,...,-0.040938,-0.012936,-0.048454,0.300023,0.662118,-1.154370,-1.154570,-0.930336,0.693375,-0.943832
3,1.105678,-0.155982,-0.060781,-0.079990,-0.060781,-0.259855,-0.399403,-0.251577,-0.048454,-0.093682,...,-0.040938,-0.012936,-0.048454,-1.483065,0.923624,-0.321431,-1.260541,-0.130005,0.523878,0.024509
4,0.401020,-0.155982,-0.060781,-0.079990,-0.060781,-0.259855,-0.399403,3.994516,-0.048454,-0.093682,...,-0.040938,-0.012936,-0.048454,-0.447894,-0.386899,-0.654867,-0.169733,-0.034917,-0.817294,1.174085
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5972,-0.647576,-0.155982,-0.060781,-0.079990,-0.060781,-0.259855,-0.399403,-0.251577,-0.048454,-0.093682,...,-0.040938,-0.012936,-0.048454,-0.367744,-0.344206,-0.347021,0.400819,-0.982537,-0.689847,1.541451
5973,-0.647576,-0.155982,-0.060781,-0.079990,-0.060781,-0.259855,-0.399403,-0.251577,-0.048454,-0.093682,...,-0.040938,-0.012936,-0.048454,1.045066,-0.143912,-0.085912,0.243622,-1.282136,1.128228,-1.512206
5974,-0.647576,6.418207,-0.060781,12.501579,-0.060781,3.869931,2.656826,-0.251577,-0.048454,-0.093682,...,-0.040938,-0.012936,-0.048454,-1.028200,0.822062,0.288926,-1.130710,-1.237343,0.410259,-0.010231
5975,-0.647576,-0.155982,-0.060781,-0.079990,-0.060781,-0.259855,2.748464,-0.251577,-0.048454,-0.093682,...,24.427444,-0.012936,-0.048454,-1.161183,-0.765484,-1.259651,0.853132,-0.034917,-0.721517,-1.511343
5976,-0.647576,-0.155982,-0.060781,-0.079990,-0.060781,-0.259855,-0.399403,-0.251577,-0.048454,-0.093682,...,-0.040938,-0.012936,-0.048454,1.107222,0.219752,2.111549,0.384804,1.909821,1.423849,1.460835

## Applying eucledian distance

In [19]:
def euclidean_distance(x, y):   
    return np.sqrt(np.sum((x - y) ** 2))

In [20]:
originalSongIndex = ids[ids == originalSongId].index[0]
originalSongIndex

originalSongVector = df.iloc[originalSongIndex, :]

***Dropping the cover song***

In [21]:
coverIndex = ids[ids == coverSongId].index[0]
coverSongVector = df.iloc[coverIndex, :]

In [22]:
ranking = []
for index in range(0, len(df)):
    ranking.append([ids[index], euclidean_distance(df.iloc[index, :], originalSongVector)])

In [23]:
ranksDF = pd.DataFrame(ranking)

In [24]:
ranksDF = ranksDF.rename(columns={0: "id", 1: "rank"})

In [25]:
ranksDF = ranksDF.sort_values(by="rank")

In [26]:
ranksDF.reset_index(drop=True, inplace=True)

In [27]:
ranksDF.head(10)

        id       rank
0   180849   0.000000
1  1119299  14.107864
2   748267  14.873346
3  1127345  14.943179
4  6001027  14.973725
5  2065851  15.030414
6  2689908  15.186886
7  1065079  15.217534
8   604358  15.249354
9   937028  15.291615

In [28]:
ranksDF[ranksDF['id']==coverSongId]

        id       rank
4  6001027  14.973725

In [29]:
ranksDF[ranksDF['id'].isin(listCovers)]

           id       rank
0      180849   0.000000
4     6001027  14.973725
16    5000019  15.444237
35    5000017  15.571728
282   5000013  16.146513
376   1686718  16.264553
492   5000012  16.382342
513   5000011  16.404174
1784  5000001  17.797275
2205  5000018  18.593783
4097  5000007  26.691837
4813  5000020  34.666977
4960  5000008  37.298640
5844  5000023  95.884600

In [30]:
# To extract covers info change path in util if needed
# ranks = transformToPercentage(ranksDF[ranksDF['id'].isin(listCovers)], '0500')
# ranks

,id_chord,id_spotify_track,name,release_date,percentage,rank,position,id_experiment
0,180849,3jButwtJMLx3Ub61BfRiHh,the scientist,2022-06-03,100.000,0.000000,0,0500
1,6001027,75JFxkI2RXiU7L9VXzMkle,NaN,NaN,85.026,14.973725,4,0500
2,5000019,49ilSrZNQcle6PYw8rtvzM,NaN,NaN,84.556,15.444237,16,0500
3,5000017,34dnNAUoIPcwnK0RtVMBWZ,NaN,NaN,84.428,15.571728,35,0500
4,5000013,2LbHYfTYW6TipHInIjqdaQ,NaN,NaN,83.853,16.146513,282,0500
5,1686718,2LbHYfTYW6TipHInIjqdaQ,the scientist,2015-04-28,83.735,16.264553,376,0500
6,5000012,7tn1tcxenMwDXrYTOjS3z1,NaN,NaN,83.618,16.382342,492,0500
7,5000011,5FoM2ZWwhgTxHFFh2stUw6,NaN,NaN,83.596,16.404174,513,0500
8,5000001,025vpSSyndhVZezl8rUF6L,NaN,NaN,82.203,17.797275,1784,0500
9,5000018,49Nzxf1LskunwmZ6EyWUew,NaN,NaN,81.406,18.593783,2205,0500
10,5000007,6TyaYGQKCnRLVTOQlXvYAA,NaN,NaN,73.308,26.691837,4097,0500
11,5000020,66Z3LdLjtwfIdHFF0wZa5B,NaN,NaN,65.333,34.666977,4813,0500
12,5000008,68iMdxXn1timrxURm9dR8C,NaN,NaN,62.701,37.298640,4960,0500
13,5000023,6f46TyGZm5oeKIP54PLvql,NaN,NaN,4.115,95.884600,5844,0500