# 06-08

<font color="red">[DEPRECATED] because it is using euclidean distance with categorical features</font>

In [1]:
import pandas as pd
from sklearn.cluster import KMeans
import seaborn as sns
from matplotlib import pyplot as plt 
import math
from ipynb.fs.full.Utils import createKDeplot, loadCoverGroups
import numpy as np
from sklearn.preprocessing import StandardScaler
from ipynb.fs.full.Pipeline import removeConstantFeatures, applyBoxCoxAllFeatures, centerAndScale, applyEuclideanDistance, getIndexAndVector

In [2]:
df = pd.read_csv('./data/05-RawData.csv')
encodedFeaturesNames = pd.read_csv('./data/05-encodedFeatureNames.csv')
encodedFeaturesNames = encodedFeaturesNames['0'].values.tolist()

In [3]:
# Separating encodedFeatures from continous features
encodedFeatures = df[encodedFeaturesNames]
featuresToScale = df.drop(encodedFeaturesNames, axis=1)
featuresToScale = featuresToScale.iloc[:, 2:]
df = featuresToScale

In [4]:
df.id = df.id.astype('int64')
# Saving idChords
ids = df.id
df = df.set_index('id')
df.reset_index(drop=True, inplace=True)

In [5]:
df = df[['speechiness' ,'danceability', 'energy', 'acousticness', 'liveness', 'valence', 'tempo']]

In [6]:
df.head(1)

   speechiness  danceability  energy  acousticness  liveness  valence    tempo
0       0.0432         0.494   0.756        0.0014     0.164    0.589  133.337

## Pipeline

In [82]:
df = removeConstantFeatures(df)
df = centerAndScale(df)

### Original Song & Cover Song

In [83]:
originalSongId = 180849 # The Scientist Original
originalSongIndex,originalSongVector = getIndexAndVector(originalSongId, ids, df)
coverSongId = 1686718 # THe Scientist by Boyce Avenue
coverIndex,coverSongVector = getIndexAndVector(coverSongId, ids, df)

### Get Rankings

In [84]:
ranksDF  = applyEuclideanDistance(df, ids, originalSongVector)

In [85]:
ranksDF.head(10)

        id      rank
0   180849  0.000000
1  1874688  0.509027
2   924061  0.600112
3  1747044  0.628150
4   263128  0.641623
5   832936  0.683832
6  1680532  0.751898
7   188071  0.767559
8  2769049  0.780085
9  1443681  0.799413

In [86]:
ranksDF[ranksDF['id']==coverSongId]

          id      rank
298  1686718  1.839263

ðŸ¥³ First recommendation

In [87]:
ranksDF[ranksDF['id'] > 5000000]

           id      rank
34    5000008  1.053726
86    5000023  1.294776
234   5000011  1.719051
235   5000017  1.720862
297   5000013  1.839263
709   5000001  2.384499
836   5000007  2.519390
1017  5000018  2.673724
1370  5000019  2.988682
1407  5000012  3.015434
1530  5000020  3.114353