# Using continous / categorical / transition matrices to get recommendations

In [1]:
import pandas as pd
from sklearn.cluster import KMeans
import seaborn as sns
from matplotlib import pyplot as plt 
import math
from ipynb.fs.full.Utils import createKDeplot, loadDataFrames, dropFeaturesWithNoVariance
import numpy as np
from sklearn.preprocessing import StandardScaler
from scipy import stats
from ipynb.fs.full.Pipeline import removeConstantFeatures, applyBoxCoxAllFeatures, centerAndScale, applyEuclideanDistance, getIndexAndVector

In [2]:
df = pd.read_csv('./data/05-allDataContinousCategoricalTransition.csv')

In [3]:
## Removing unamed and other unnecessary columns
df = df.iloc[:,2:].sort_values('id')
df.id = df.id.astype('int64')
# Saving idChords
ids = df.id
df = df.set_index('id')
df.reset_index(drop=True, inplace=True)

In [4]:
df.head(1)

,danceability,energy,speechiness,acousticness,liveness,valence,tempo,0,1,2,...,mood_5,mood_6,mood_7,mood_8,mood_9,mood_10,mood_11,instrumentalness_cat_0,instrumentalness_cat_1,instrumentalness_cat_2
0,0.494,0.756,0.0432,0.0014,0.164,0.589,133.337,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0

## Pipeline

In [5]:
df = removeConstantFeatures(df)
df = centerAndScale(df)

### Original Song & Cover Song

In [6]:
originalSongId = 180849 # The Scientist Original
originalSongIndex,originalSongVector = getIndexAndVector(originalSongId, ids, df)
coverSongId = 1686718 # THe Scientist by Boyce Avenue
coverIndex,coverSongVector = getIndexAndVector(coverSongId, ids, df)

In [7]:
ranksDF  = applyEuclideanDistance(df, ids, originalSongVector)

In [8]:
ranksDF.head(10)

        id      rank
0   180849  0.000000
1  1029726  8.320151
2   672021  8.607433
3   450492  8.619808
4   872773  8.620368
5  2065851  8.731517
6  1025154  8.870613
7  1884102  8.963208
8  5000019  9.105609
9   757984  9.155899

In [9]:
ranksDF[ranksDF['id']==coverSongId]

         id       rank
92  1686718  10.288917

## Rank for original Song 450

In [10]:
ranksDF[ranksDF['id'] > 5000000]

           id       rank
8     5000019   9.105609
10    5000017   9.203352
72    5000018  10.131322
113   5000013  10.411321
419   5000001  11.331367
561   5000011  11.633830
580   5000012  11.669122
3019  5000020  57.602451
3021  5000008  58.274145
3088  5000007  70.640337
3146  5000023  90.303455