# 06-03

- Transition Matrices
- Center and Scaling
- Euclidean distance
- Remove Constant Features

In [126]:
import pandas as pd
from sklearn.cluster import KMeans
import seaborn as sns
from matplotlib import pyplot as plt 
import math
from ipynb.fs.full.Utils import createKDeplot, loadDataFrames, loadCoverGroups
import numpy as np
from sklearn.preprocessing import StandardScaler
from ipynb.fs.full.Pipeline import removeConstantFeatures, applyBoxCoxAllFeatures, centerAndScale, applyEuclideanDistance, getIndexAndVector, applyBoxCoxFeatures, scalerMinMax

In [183]:
cover = loadCoverGroups()
listCovers = cover[17]
originalSongId = listCovers[0]
coverSongId = listCovers[1]

In [184]:
cover

[[180849,
  6001027,
  1686718,
  5000013,
  5000001,
  5000007,
  5000008,
  5000023,
  5000017,
  5000019,
  5000020,
  5000018,
  5000011,
  5000012],
 [6001971, 6001984],
 [6002492, 6002491],
 [6000699, 6001165, 6000182],
 [6000104, 6000273],
 [6000768, 6000784],
 [6001931, 6001748],
 [6002043, 6002073],
 [6002244, 6000194],
 [6001209, 6000606],
 [6000352, 6001248],
 [6000549, 6001508, 6001242],
 [6001918, 6001997],
 [6001651, 6001900],
 [6000263, 6001570, 6002374],
 [6001822, 6001653],
 [6000763, 6000668],
 [6000764, 6000667],
 [6001543, 6001541],
 [6000762, 6000773],
 [6000771, 6000670],
 [6001747, 6001952],
 [6000548, 6002203],
 [6000172, 6002133],
 [6001762, 6001675],
 [6002147, 6002146],
 [6000767, 6000775],
 [6000766, 6000673],
 [6001506, 6000529],
 [6000397, 6000409],
 [6001914, 6002001],
 [6002482, 6002454],
 [6000765, 6000783],
 [6000761, 6000782],
 [6000814, 6000813],
 [6001224, 6000140]]

In [185]:
originalSongId

6000764

In [186]:
spotifyFeatures, transitionMatrices, combined = loadDataFrames()

In [187]:
len(transitionMatrices)

5980

In [188]:
transitionMatrices.sum(axis = 1).sum(axis=0)

5979.999999999996

In [189]:
transitionMatrices['id'] = transitionMatrices.index

In [190]:
transitionMatrices[transitionMatrices.id == originalSongId]

,0,1,2,3,4,5,6,7,8,9,...,1286,1287,1288,1290,1291,1292,1293,1294,1295,id
id,,,,,,,,,,,,,,,,,,,,,
6000764,0.01087,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,6000764

In [191]:
transitionMatrices = removeConstantFeatures(transitionMatrices)

In [192]:
transitionMatrices.reset_index(drop=True, inplace=True)

In [193]:
ids = transitionMatrices.id
df = transitionMatrices.iloc[:, 0:-1]

## Combining Centering and Scaling

In [194]:
cols = df.columns
scaler = StandardScaler()
scaler.fit(df)
data_normalized = scaler.transform(df)
print('mean: ', data_normalized.mean(axis=0).round(2))
print('std: ', data_normalized.std(axis=0).round(2))

df = pd.DataFrame(data_normalized, columns=cols)

mean:  [-0. -0. -0. ...  0. -0.  0.]
std:  [1. 1. 1. ... 1. 1. 1.]

In [195]:
df

,0,1,2,3,4,5,6,7,8,9,...,1284,1286,1287,1288,1290,1291,1292,1293,1294,1295
0,-0.399006,-0.091843,-0.041708,-0.048451,-0.049629,-0.161063,-0.266736,-0.161475,-0.038295,-0.075173,...,-0.025699,-0.042078,-0.073782,-0.053313,-0.027166,-0.012933,-0.099383,-0.034484,-0.012933,-0.044327
1,2.638978,-0.091843,-0.041708,-0.048451,-0.049629,-0.161063,-0.266736,-0.161475,-0.038295,-0.075173,...,-0.025699,-0.042078,-0.073782,-0.053313,-0.027166,-0.012933,-0.099383,-0.034484,-0.012933,-0.044327
2,-0.399006,-0.091843,-0.041708,-0.048451,-0.049629,-0.161063,1.253998,-0.161475,-0.038295,-0.075173,...,-0.025699,-0.042078,-0.073782,-0.053313,-0.027166,-0.012933,-0.099383,-0.034484,-0.012933,-0.044327
3,0.083497,-0.091843,-0.041708,-0.048451,-0.049629,-0.161063,-0.266736,-0.161475,-0.038295,-0.075173,...,-0.025699,-0.042078,-0.073782,-0.053313,-0.027166,-0.012933,-0.099383,-0.034484,-0.012933,-0.044327
4,-0.171157,-0.091843,-0.041708,-0.048451,-0.049629,-0.161063,-0.266736,0.815751,-0.038295,-0.075173,...,-0.025699,-0.042078,-0.073782,-0.053313,-0.027166,-0.012933,-0.099383,-0.034484,-0.012933,-0.044327
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5975,-0.399006,-0.091843,-0.041708,-0.048451,-0.049629,-0.161063,-0.266736,-0.161475,-0.038295,-0.075173,...,-0.025699,-0.042078,-0.073782,-0.053313,-0.027166,-0.012933,-0.099383,-0.034484,-0.012933,-0.044327
5976,-0.399006,-0.091843,-0.041708,-0.048451,-0.049629,-0.161063,-0.266736,-0.161475,-0.038295,-0.075173,...,-0.025699,-0.042078,-0.073782,-0.053313,-0.027166,-0.012933,-0.099383,-0.034484,-0.012933,-0.044327
5977,-0.399006,1.751266,-0.041708,4.392104,-0.049629,0.786031,0.774382,-0.161475,-0.038295,-0.075173,...,-0.025699,-0.042078,-0.073782,-0.053313,-0.027166,-0.012933,-0.099383,-0.034484,-0.012933,-0.044327
5978,-0.399006,-0.091843,-0.041708,-0.048451,-0.049629,-0.161063,2.150145,-0.161475,-0.038295,-0.075173,...,-0.025699,-0.042078,-0.073782,10.211144,-0.027166,-0.012933,-0.099383,26.322022,-0.012933,-0.044327
5979,-0.399006,-0.091843,-0.041708,-0.048451,-0.049629,-0.161063,-0.266736,-0.161475,-0.038295,-0.075173,...,-0.025699,-0.042078,-0.073782,-0.053313,-0.027166,-0.012933,-0.099383,-0.034484,-0.012933,-0.044327

## Applying eucledian distance

In [196]:
def euclidean_distance(x, y):   
    return np.sqrt(np.sum((x - y) ** 2))

In [197]:
originalSongIndex = ids[ids == originalSongId].index[0]
originalSongIndex

originalSongVector = df.iloc[originalSongIndex, :]

***Dropping the cover song***

In [198]:
coverIndex = ids[ids == coverSongId].index[0]
coverSongVector = df.iloc[coverIndex, :]

In [199]:
ranking = []
for index in range(0, len(df)):
    ranking.append([ids[index], euclidean_distance(df.iloc[index, :], originalSongVector)])

In [200]:
res = round(len(set(originalSongVector.tolist()) & set(coverSongVector.tolist())) / float(len(set(originalSongVector.tolist()) | set(coverSongVector.tolist()))) * 100, 2)
res

97.1

In [201]:
ranksDF = pd.DataFrame(ranking)

In [202]:
ranksDF = ranksDF.rename(columns={0: "id", 1: "rank"})

In [203]:
ranksDF

           id        rank
0          23   17.036538
1         105   16.431619
2         118   22.642894
3         120   38.875490
4         292    8.519404
...       ...         ...
5975  6002496   10.015899
5976  6002497   20.169225
5977  6002498  102.437175
5978  6002499   79.318470
5979  6002500   22.704607

[5980 rows x 2 columns]

In [204]:
ranksDF = ranksDF.sort_values(by="rank")

In [205]:
ranksDF.reset_index(drop=True, inplace=True)

In [206]:
ranksDF.head(10)

        id      rank
0  6000764  0.000000
1   654588  1.691999
2  2831476  3.606578
3  1227774  3.667130
4   927822  4.030460
5  6002132  4.327601
6  6000172  4.336573
7  1506897  4.554018
8   603722  4.641719
9   947078  4.705259

In [207]:
ranksDF['percentage'] = pd.Series(1 - ranksDF.index / len(ranksDF))

In [208]:
ranksDF[ranksDF['id'].isin(listCovers)]

           id       rank  percentage
0     6000764   0.000000    1.000000
2141  6000667  10.637844    0.641973

In [209]:
ranksDF[ranksDF['id']==coverSongId]

           id       rank  percentage
2141  6000667  10.637844    0.641973

In [210]:
ranksDF.head(30)

         id      rank  percentage
0   6000764  0.000000    1.000000
1    654588  1.691999    0.999833
2   2831476  3.606578    0.999666
3   1227774  3.667130    0.999498
4    927822  4.030460    0.999331
5   6002132  4.327601    0.999164
6   6000172  4.336573    0.998997
7   1506897  4.554018    0.998829
8    603722  4.641719    0.998662
9    947078  4.705259    0.998495
10  1689019  4.758961    0.998328
11  1031655  4.774622    0.998161
12  6001859  4.787520    0.997993
13  2111259  4.813017    0.997826
14  6000171  4.874387    0.997659
15   117988  4.894906    0.997492
16   267671  4.909655    0.997324
17   819644  4.915376    0.997157
18   334579  4.982970    0.996990
19  6001731  5.048990    0.996823
20   171363  5.049351    0.996656
21   771174  5.063005    0.996488
22  1490110  5.130374    0.996321
23  6000717  5.141308    0.996154
24   899715  5.144349    0.995987
25  1829193  5.147948    0.995819
26   930373  5.153949    0.995652
27  6000709  5.166543    0.995485
28  2116383  5.170288    0.995318
29   115232  5.179965    0.995151