In [1]:
import pandas as pd
from sklearn.cluster import KMeans
import seaborn as sns
from matplotlib import pyplot as plt 
import math
from ipynb.fs.full.Utils import createKDeplot, loadDataFrames, dropFeaturesWithNoVariance,loadCoverGroups
import numpy as np
from sklearn.preprocessing import StandardScaler
from scipy import stats
import dask_ml.cluster
import pandas as pd
import gower
from ipynb.fs.full.Pipeline import removeConstantFeatures, applyBoxCoxAllFeatures, centerAndScale, applyEuclideanDistance, getIndexAndVector, applyBoxCoxFeatures,applyJaccard, getEuclideanJaccardDf , applyCosineDistance, applyGower

In [2]:
spotifyFeatures, transitionMatrices, df = loadDataFrames()
ids = transitionMatrices.index.tolist()
transitionMatrices['id'] = ids

In [3]:
coverList = loadCoverGroups()

In [4]:
df = transitionMatrices
df

,0,1,2,3,4,5,6,7,8,9,...,1286,1287,1288,1290,1291,1292,1293,1294,1295,id
id,,,,,,,,,,,,,,,,,,,,,
23,0.000000,0.000000,0.0,0.000000,0.0,0.000000,0.000000,0.000000,0.0,0.0,...,0.0,0.0,0.00000,0.0,0.0,0.0,0.00000,0.0,0.0,23
105,0.185185,0.000000,0.0,0.000000,0.0,0.000000,0.000000,0.000000,0.0,0.0,...,0.0,0.0,0.00000,0.0,0.0,0.0,0.00000,0.0,0.0,105
118,0.000000,0.000000,0.0,0.000000,0.0,0.000000,0.044944,0.000000,0.0,0.0,...,0.0,0.0,0.00000,0.0,0.0,0.0,0.00000,0.0,0.0,118
120,0.029412,0.000000,0.0,0.000000,0.0,0.000000,0.000000,0.000000,0.0,0.0,...,0.0,0.0,0.00000,0.0,0.0,0.0,0.00000,0.0,0.0,120
292,0.013889,0.000000,0.0,0.000000,0.0,0.000000,0.000000,0.013889,0.0,0.0,...,0.0,0.0,0.00000,0.0,0.0,0.0,0.00000,0.0,0.0,292
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6002496,0.000000,0.000000,0.0,0.000000,0.0,0.000000,0.000000,0.000000,0.0,0.0,...,0.0,0.0,0.00000,0.0,0.0,0.0,0.00000,0.0,0.0,6002496
6002497,0.000000,0.000000,0.0,0.000000,0.0,0.000000,0.000000,0.000000,0.0,0.0,...,0.0,0.0,0.00000,0.0,0.0,0.0,0.00000,0.0,0.0,6002497
6002498,0.000000,0.015385,0.0,0.015385,0.0,0.015385,0.030769,0.000000,0.0,0.0,...,0.0,0.0,0.00000,0.0,0.0,0.0,0.00000,0.0,0.0,6002498
6002499,0.000000,0.000000,0.0,0.000000,0.0,0.000000,0.071429,0.000000,0.0,0.0,...,0.0,0.0,0.02381,0.0,0.0,0.0,0.02381,0.0,0.0,6002499
6002500,0.000000,0.000000,0.0,0.000000,0.0,0.000000,0.000000,0.000000,0.0,0.0,...,0.0,0.0,0.00000,0.0,0.0,0.0,0.00000,0.0,0.0,6002500

In [5]:
ids

[23,
 105,
 118,
 120,
 292,
 407,
 418,
 456,
 467,
 469,
 588,
 628,
 635,
 652,
 816,
 830,
 836,
 1334,
 1345,
 1395,
 1433,
 2063,
 2147,
 2148,
 2220,
 2535,
 2553,
 3118,
 3165,
 3337,
 3391,
 3991,
 4019,
 4041,
 4084,
 4169,
 5643,
 5909,
 6090,
 6097,
 6109,
 6122,
 6124,
 6741,
 8070,
 8272,
 8279,
 8467,
 8619,
 8676,
 8812,
 9297,
 9324,
 9344,
 9362,
 10093,
 10217,
 10226,
 10730,
 10731,
 10735,
 10737,
 10744,
 10759,
 10760,
 10761,
 10796,
 10951,
 11600,
 11603,
 11760,
 12307,
 12376,
 12649,
 12835,
 13305,
 13518,
 13598,
 13936,
 14048,
 14087,
 14172,
 14280,
 14281,
 14296,
 14298,
 14299,
 14300,
 14318,
 14319,
 14322,
 14871,
 14873,
 14874,
 14882,
 14884,
 14943,
 14980,
 15027,
 15165,
 15197,
 15403,
 15421,
 15811,
 15892,
 16066,
 16251,
 16406,
 16491,
 16508,
 16805,
 16882,
 16889,
 17240,
 17250,
 17264,
 17269,
 17273,
 17288,
 17333,
 17335,
 17355,
 17376,
 17384,
 17403,
 17410,
 17413,
 17417,
 17442,
 17443,
 17446,
 17642,
 17773,
 18444,
 18447,
 18582,
 18587,
 18596,
 18691,
 18783,
 18841,
 18953,
 19839,
 20547,
 20606,
 21372,
 21783,
 22094,
 22221,
 22350,
 22480,
 23596,
 23970,
 25442,
 26891,
 26901,
 27240,
 27415,
 27588,
 27590,
 29118,
 29312,
 29623,
 29753,
 29889,
 29895,
 32120,
 32922,
 32979,
 33252,
 33818,
 35204,
 35827,
 36027,
 36170,
 36239,
 36429,
 37198,
 37223,
 37287,
 37519,
 38269,
 38290,
 39044,
 39118,
 39144,
 39183,
 39230,
 39392,
 39590,
 39828,
 39870,
 39880,
 39979,
 40013,
 40236,
 41315,
 41636,
 41868,
 41929,
 41961,
 42259,
 42445,
 42854,
 43450,
 43461,
 43462,
 43464,
 43469,
 44309,
 44348,
 44488,
 44544,
 44672,
 45164,
 45224,
 45262,
 45704,
 45885,
 46064,
 46245,
 47269,
 47363,
 47489,
 48159,
 48487,
 48562,
 49101,
 49158,
 49809,
 49979,
 50106,
 50313,
 50449,
 50470,
 51154,
 51957,
 52520,
 52559,
 52780,
 52946,
 52948,
 52949,
 52955,
 52957,
 52968,
 53158,
 53240,
 53816,
 54197,
 54374,
 55002,
 55036,
 55063,
 55346,
 55800,
 56122,
 56285,
 56389,
 56479,
 56555,
 56557,
 56558,
 56577,
 56845,
 57139,
 57144,
 57500,
 57606,
 57624,
 57811,
 57890,
 58011,
 58277,
 58371,
 58939,
 58941,
 59377,
 59426,
 59583,
 59609,
 59843,
 59910,
 59936,
 60543,
 60697,
 61145,
 61256,
 61323,
 61459,
 61589,
 61597,
 62042,
 62531,
 62607,
 62622,
 62865,
 63352,
 63355,
 63362,
 63555,
 63570,
 63648,
 63686,
 63780,
 64014,
 64026,
 64057,
 64066,
 64080,
 64116,
 64198,
 64459,
 64464,
 64587,
 64805,
 64967,
 64974,
 64977,
 65293,
 65299,
 66034,
 66224,
 66559,
 66750,
 66751,
 66784,
 67001,
 67128,
 67386,
 67599,
 67846,
 67946,
 68506,
 68567,
 68720,
 69821,
 70138,
 70223,
 70504,
 70791,
 71672,
 71842,
 71843,
 71844,
 71848,
 72124,
 72592,
 72612,
 73063,
 73380,
 73572,
 74096,
 74242,
 74314,
 75008,
 75224,
 75432,
 75530,
 75870,
 75922,
 75957,
 76292,
 76353,
 76373,
 76407,
 76791,
 76853,
 76881,
 77143,
 77613,
 77616,
 77897,
 77915,
 77919,
 77936,
 78017,
 78145,
 78404,
 78737,
 78770,
 78786,
 78892,
 79191,
 79214,
 79223,
 79685,
 79693,
 79701,
 79702,
 79749,
 79820,
 79827,
 79830,
 79833,
 79862,
 79870,
 80036,
 80132,
 80422,
 80492,
 80618,
 80640,
 81322,
 81440,
 82026,
 82067,
 82137,
 82272,
 82388,
 82390,
 83374,
 83666,
 83835,
 84027,
 84084,
 84196,
 84202,
 84219,
 84414,
 84466,
 84491,
 84503,
 84505,
 84520,
 84527,
 84617,
 84823,
 84865,
 84884,
 84885,
 84922,
 85158,
 85199,
 85324,
 86366,
 86554,
 86880,
 87134,
 87214,
 87421,
 87799,
 88260,
 88594,
 89190,
 89261,
 89268,
 89446,
 89830,
 90193,
 90451,
 90551,
 90641,
 90873,
 90958,
 91439,
 92135,
 92851,
 92855,
 93388,
 93614,
 94918,
 95302,
 95644,
 95973,
 96109,
 96199,
 96406,
 96657,
 97039,
 97085,
 97380,
 97827,
 98112,
 98219,
 98225,
 98262,
 98353,
 98623,
 98890,
 98993,
 99295,
 99769,
 100122,
 100919,
 101457,
 102039,
 102495,
 102857,
 102896,
 103398,
 104141,
 104285,
 105031,
 105719,
 105869,
 106028,
 106200,
 106508,
 106522,
 106855,
 107211,
 108617,
 108942,
 110162,
 110870,
 111051,
 111683,
 111685,
 111969,
 112109,
 112785,
 113347,
 113909,
 114080,
 114314,
 114345,
 114928,
 115232,
 115233,
 115417,
 115540,
 116342,
 116625,
 116967,
 117554,
 117556,
 117654,
 117949,
 117988,
 118222,
 118607,
 118610,
 118655,
 119147,
 119982,
 120220,
 120372,
 120881,
 122350,
 122749,
 122823,
 124030,
 125171,
 126472,
 126580,
 126600,
 126633,
 126869,
 127561,
 127662,
 127844,
 128241,
 128462,
 129082,
 129282,
 129829,
 130052,
 130272,
 130370,
 131094,
 131107,
 131551,
 131820,
 131846,
 132535,
 133162,
 133919,
 134344,
 135659,
 136060,
 136125,
 136452,
 136463,
 137106,
 137153,
 137623,
 138642,
 138823,
 138946,
 139465,
 139496,
 139706,
 139797,
 139827,
 139872,
 139966,
 140415,
 140570,
 140640,
 140717,
 140754,
 140939,
 141284,
 141649,
 142039,
 142483,
 142629,
 142675,
 142868,
 143433,
 144303,
 145136,
 145205,
 145513,
 145586,
 145589,
 145884,
 146240,
 146367,
 147096,
 147231,
 147821,
 148158,
 148473,
 148832,
 148907,
 149007,
 149302,
 149324,
 149330,
 149924,
 150014,
 150987,
 151311,
 151376,
 152012,
 152218,
 152321,
 152504,
 153377,
 153576,
 153876,
 153898,
 154240,
 154362,
 154746,
 155863,
 156028,
 156298,
 156603,
 157009,
 157259,
 157846,
 158280,
 159157,
 161889,
 161933,
 162352,
 162429,
 162913,
 164068,
 165348,
 165497,
 166605,
 168021,
 168749,
 169041,
 169399,
 169565,
 170213,
 170406,
 170455,
 171363,
 172658,
 172964,
 173491,
 173713,
 174549,
 174859,
 175513,
 175855,
 175980,
 176390,
 176585,
 176648,
 176961,
 177015,
 177209,
 178022,
 178119,
 178584,
 178850,
 179531,
 179824,
 180031,
 180175,
 180394,
 180849,
 181945,
 182058,
 182323,
 182505,
 182767,
 182968,
 183019,
 183884,
 183975,
 184002,
 184121,
 184243,
 184793,
 184953,
 185044,
 185173,
 186267,
 186608,
 186981,
 186983,
 187437,
 187879,
 187946,
 188005,
 188019,
 188071,
 188726,
 188777,
 189146,
 189676,
 189930,
 190475,
 190514,
 192265,
 192772,
 193014,
 193785,
 194796,
 194815,
 194949,
 194951,
 195702,
 196011,
 196708,
 196771,
 196902,
 197058,
 198052,
 198525,
 199062,
 199272,
 199303,
 199454,
 199782,
 200734,
 200878,
 201177,
 201815,
 202167,
 202343,
 202628,
 202646,
 202741,
 202765,
 202797,
 203062,
 203796,
 204072,
 204675,
 205804,
 206120,
 206128,
 206938,
 207183,
 207412,
 207945,
 208584,
 210299,
 210412,
 210506,
 210942,
 212731,
 212734,
 212825,
 212929,
 213175,
 213344,
 213358,
 213374,
 213412,
 213453,
 213466,
 258240,
 258786,
 258832,
 258837,
 258845,
 259559,
 260123,
 260477,
 261002,
 261688,
 262276,
 263108,
 263128,
 263779,
 266014,
 266224,
 267671,
 267936,
 267976,
 268316,
 268630,
 268690,
 269867,
 270021,
 270720,
 270847,
 270939,
 271261,
 271557,
 272127,
 273336,
 274267,
 275297,
 275309,
 275840,
 276769,
 277200,
 277625,
 278859,
 278974,
 279519,
 279810,
 280085,
 280549,
 280961,
 282638,
 319116,
 320030,
 320628,
 320722,
 320978,
 321743,
 322340,
 322550,
 322671,
 327262,
 327834,
 327857,
 327887,
 328011,
 328133,
 328663,
 328965,
 329363,
 329629,
 330018,
 330690,
 331304,
 331305,
 331308,
 331719,
 333322,
 334542,
 334579,
 334787,
 334985,
 335196,
 335727,
 335735,
 337150,
 337676,
 338217,
 339366,
 340088,
 340629,
 340769,
 341776,
 344117,
 344491,
 344754,
 346009,
 346314,
 346586,
 347923,
 348434,
 348534,
 349248,
 349856,
 350255,
 350819,
 351326,
 352292,
 352355,
 352404,
 352413,
 352755,
 352784,
 353379,
 353748,
 354424,
 354889,
 355074,
 355090,
 355118,
 355319,
 355400,
 355425,
 356500,
 356738,
 357373,
 357789,
 359080,
 359384,
 361328,
 362641,
 363645,
 363691,
 364306,
 365552,
 366394,
 366456,
 367640,
 367742,
 369827,
 371019,
 371756,
 372272,
 372548,
 372854,
 373417,
 374090,
 376402,
 376940,
 377455,
 377909,
 377957,
 378437,
 379339,
 379471,
 379578,
 380325,
 380449,
 380559,
 382183,
 382211,
 382283,
 383230,
 383263,
 383493,
 383812,
 385209,
 385284,
 388558,
 389994,
 390347,
 390605,
 391832,
 392410,
 393249,
 393920,
 393971,
 394880,
 395608,
 395700,
 396977,
 397384,
 397655,
 398424,
 399620,
 400663,
 400937,
 401764,
 402654,
 403064,
 406659,
 406885,
 407885,
 408606,
 408619,
 409104,
 409507,
 409677,
 410240,
 410594,
 410649,
 411081,
 411547,
 412460,
 413650,
 413679,
 414218,
 414546,
 416037,
 417135,
 417606,
 417640,
 417668,
 418367,
 421086,
 422180,
 424117,
 425705,
 426283,
 426370,
 427215,
 428090,
 428803,
 428952,
 429071,
 ...]

In [6]:
## Removing unamed and other unnecessary columns
df.reset_index(drop=True, inplace=True)
df = df.sort_values('id')
df.id = df.id.astype('int64')
# Saving idChords
ids = df.id
df = df.set_index('id')
df.reset_index(drop=True, inplace=True)
df

,0,1,2,3,4,5,6,7,8,9,...,1284,1286,1287,1288,1290,1291,1292,1293,1294,1295
0,0.000000,0.000000,0.0,0.000000,0.0,0.000000,0.000000,0.000000,0.0,0.0,...,0.0,0.0,0.0,0.00000,0.0,0.0,0.0,0.00000,0.0,0.0
1,0.185185,0.000000,0.0,0.000000,0.0,0.000000,0.000000,0.000000,0.0,0.0,...,0.0,0.0,0.0,0.00000,0.0,0.0,0.0,0.00000,0.0,0.0
2,0.000000,0.000000,0.0,0.000000,0.0,0.000000,0.044944,0.000000,0.0,0.0,...,0.0,0.0,0.0,0.00000,0.0,0.0,0.0,0.00000,0.0,0.0
3,0.029412,0.000000,0.0,0.000000,0.0,0.000000,0.000000,0.000000,0.0,0.0,...,0.0,0.0,0.0,0.00000,0.0,0.0,0.0,0.00000,0.0,0.0
4,0.013889,0.000000,0.0,0.000000,0.0,0.000000,0.000000,0.013889,0.0,0.0,...,0.0,0.0,0.0,0.00000,0.0,0.0,0.0,0.00000,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5975,0.000000,0.000000,0.0,0.000000,0.0,0.000000,0.000000,0.000000,0.0,0.0,...,0.0,0.0,0.0,0.00000,0.0,0.0,0.0,0.00000,0.0,0.0
5976,0.000000,0.000000,0.0,0.000000,0.0,0.000000,0.000000,0.000000,0.0,0.0,...,0.0,0.0,0.0,0.00000,0.0,0.0,0.0,0.00000,0.0,0.0
5977,0.000000,0.015385,0.0,0.015385,0.0,0.015385,0.030769,0.000000,0.0,0.0,...,0.0,0.0,0.0,0.00000,0.0,0.0,0.0,0.00000,0.0,0.0
5978,0.000000,0.000000,0.0,0.000000,0.0,0.000000,0.071429,0.000000,0.0,0.0,...,0.0,0.0,0.0,0.02381,0.0,0.0,0.0,0.02381,0.0,0.0
5979,0.000000,0.000000,0.0,0.000000,0.0,0.000000,0.000000,0.000000,0.0,0.0,...,0.0,0.0,0.0,0.00000,0.0,0.0,0.0,0.00000,0.0,0.0

In [53]:
pd.DataFrame(coverList)

,0,1,2,3,4,5,6,7,8,9,10,11,12,13
0,180849,6001027,1686718.0,5000013.0,5000001.0,5000007.0,5000008.0,5000023.0,5000017.0,5000019.0,5000020.0,5000018.0,5000011.0,5000012.0
1,6001971,6001984,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,6002492,6002491,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,6000699,6001165,6000182.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,6000104,6000273,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,6000768,6000784,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,6001931,6001748,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,6002043,6002073,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,6002244,6000194,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,6001209,6000606,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,6000352,6001248,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,6000549,6001508,6001242.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,6001918,6001997,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,6001651,6001900,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,6000263,6001570,6002374.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,6001822,6001653,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,6000763,6000668,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,6000764,6000667,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,6001543,6001541,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,6000762,6000773,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,6000771,6000670,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,6001747,6001952,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,6000548,6002203,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,6000172,6002133,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,6001762,6001675,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,6002147,6002146,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,6000767,6000775,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,6000766,6000673,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,6001506,6000529,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,6000397,6000409,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
30,6001914,6002001,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
31,6002482,6002454,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
32,6000765,6000783,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
33,6000761,6000782,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
34,6000814,6000813,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
35,6001224,6000140,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [67]:
currentList = coverList[0]
currentList

[180849,
 6001027,
 1686718,
 5000013,
 5000001,
 5000007,
 5000008,
 5000023,
 5000017,
 5000019,
 5000020,
 5000018,
 5000011,
 5000012]

In [68]:
ranksDFGower = applyGower(df,ids, currentList[1],5000)
ranksDFGower

           id    values
0     6001027  0.000000
1     5000011  0.000348
2     5000017  0.000357
3     6000372  0.000642
4     1818565  0.000650
...       ...       ...
4995  6000912  0.005696
4996  6001031  0.005704
4997  6002409  0.005705
4998  6000568  0.005706
4999  1492244  0.005707

[5000 rows x 2 columns]

In [69]:
ranksDFGower.loc[ranksDFGower.id.isin(currentList)]

          id    values
0    6001027  0.000000
1    5000011  0.000348
2    5000017  0.000357
13   5000018  0.000927
14   1686718  0.000935
15   5000019  0.000942
31   5000007  0.001094
41   5000013  0.001169
63   5000001  0.001331
241  5000012  0.001763
284   180849  0.001816
516  5000020  0.002087
956  5000008  0.002476