In [31]:
import pandas as pd
import os

In [34]:
songs = pd.read_csv('./data/FinalMergedCleanChordsTracks.csv')
songs = songs.iloc[:,1:]

In [35]:
def searchByID(id):
    result = songs[songs['id_chord'] == id]
    return result
def searchBySpotify(id):
    result = songs[['id_chord','id_spotify_track']][songs['id_spotify_track'] == id].values
    if len(result) <= 0:
        print("THIS ONE DOESNT EXIST")
        return
    else:
        return result

In [112]:
searchByID(6000397)

     id_chord        id_spotify_track  id_track
407   6000397  3qrPs2Idj6R38Owfllxpol   9000397

In [37]:
a.id_chord

192    6000182
Name: id_chord, dtype: int64

In [38]:
## IMPORT COVERS IN LIST
import csv
with open('./data/unified/FinalCoverList.csv', newline='') as f:
    reader = csv.reader(f)
    FinalSongsGroups = list(reader)

del FinalSongsGroups[0]
FinalSongsGroupsAnalyze = []
for songsGroups in FinalSongsGroups:
    if len(songsGroups) > 0:
        toInt = [int(x) for x in songsGroups]
        FinalSongsGroupsAnalyze.append(toInt)

In [39]:
covers = [[180849,
  6001027,
  1686718,
  5000013,
  5000001,
  5000007,
  5000008,
  5000023,
  5000017,
  5000019,
  5000020,
  5000018,
  5000011,
  5000012],
 [6001971, 6001984],
 [6002492, 6002491],
 [6000699, 6001165, 6000182],
 [6000104, 6000273],
 [6000768, 6000784],
 [6001931, 6001748],
 [6002043, 6002073],
 [6002244, 6000194],
 [6001209, 6000606],
 [6000352, 6001248],
 [6000549, 6001508, 6001242],
 [6001918, 6001997],
 [6001651, 6001900],
 [6000263, 6001570, 6002374],
 [6001822, 6001653],
 [6000763, 6000668],
 [6000764, 6000667],
 [6001543, 6001541],
 [6000762, 6000773],
 [6000771, 6000670],
 [6001747, 6001952],
 [6000548, 6002203],
 [6000172, 6002133],
 [6001762, 6001675],
 [6002147, 6002146],
 [6000767, 6000775],
 [6000766, 6000673],
 [6001506, 6000529],
 [6000397, 6000409],
 [6001914, 6002001],
 [6002482, 6002454],
 [6000765, 6000783],
 [6000761, 6000782],
 [6000814, 6000813],
 [6001224, 6000140]]

In [91]:
df = pd.DataFrame(columns=['id_song', 'song_name', 'artist', 'year', 'ranking'])

In [92]:
searchByID(1104043)

      id_chord        id_spotify_track  id_track
4022   1104043  3fDsErbmOD3TuaSDuxSXav      7503

In [93]:
[6001027,
 180849,
 1874688,
 924061,
 1747044,
 6000395,
 1680532,
 6001230,
 188071,
 1104043]

[6001027,
 180849,
 1874688,
 924061,
 1747044,
 6000395,
 1680532,
 6001230,
 188071,
 1104043]

In [94]:
df = df.append({'id_song': 6001027, 'song_name': 'The Scientist', 'artist': 'Coldplay', 'year': 2002, 'ranking': '0.000000'}, ignore_index=True)

In [95]:
df

   id_song      song_name    artist  year   ranking
0  6001027  The Scientist  Coldplay  2002  0.000000

In [96]:
df = df.append({'id_song': 180849, 'song_name': 'The Scientist', 'artist': 'Coldplay', 'year': 2022, 'ranking': '0.000000'}, ignore_index=True)

In [97]:
df = df.append({'id_song': 1874688, 'song_name': 'King of My Heart', 'artist': 'John Mark McMillian', 'year': 2015, 'ranking': '0.540161'}, ignore_index=True)

In [98]:
df = df.append({'id_song': 924061, 'song_name': 'Kecewa', 'artist': 'Bunga Citra Lestari', 'year': 2008, 'ranking': '0.553921'}, ignore_index=True)

In [99]:
df = df.append({'id_song': 1747044, 'song_name': 'Cinta Terbaik', 'artist': 'Cassandra', 'year': 2017, 'ranking': '0.644730'}, ignore_index=True)

In [100]:
df = df.append({'id_song': 6000395, 'song_name': 'Where Do We Draw the Line', 'artist': 'Poets of the Fall', 'year': 2008, 'ranking': '0.730403'}, ignore_index=True)

In [101]:
df = df.append({'id_song': 1680532, 'song_name': 'Let it Go', 'artist': 'James Bay', 'year': 2015, 'ranking': '0.732680'}, ignore_index=True)

In [102]:
df = df.append({'id_song': 6001230, 'song_name': 'Let it Go', 'artist': 'James Bay', 'year': 2016, 'ranking': '0.741854'}, ignore_index=True)

In [103]:
df = df.append({'id_song': 188071, 'song_name': 'Kung Wala Ka', 'artist': 'Hale', 'year': 2004, 'ranking': '0.752359'}, ignore_index=True)

In [104]:
df = df.append({'id_song': 1104043, 'song_name': 'Over You', 'artist': 'Miranda Lambert', 'year': 2011, 'ranking': '0.783418'}, ignore_index=True)

In [105]:
df

   id_song                  song_name               artist  year   ranking
0  6001027              The Scientist             Coldplay  2002  0.000000
1   180849              The Scientist             Coldplay  2022  0.000000
2  1874688           King of My Heart  John Mark McMillian  2015  0.540161
3   924061                     Kecewa  Bunga Citra Lestari  2008  0.553921
4  1747044              Cinta Terbaik            Cassandra  2017  0.644730
5  6000395  Where Do We Draw the Line    Poets of the Fall  2008  0.730403
6  1680532                  Let it Go            James Bay  2015  0.732680
7  6001230                  Let it Go            James Bay  2016  0.741854
8   188071               Kung Wala Ka                 Hale  2004  0.752359
9  1104043                   Over You      Miranda Lambert  2011  0.783418